# List of allowed origins (frontend domains)
ALLOWED_ORIGINS=http://localhost:4200

# Application credentials json file path (file from https://console.cloud.google.com/apis/credentials?authuser=1&project= via service account)
GOOGLE_APPLICATION_CREDENTIALS="C:/Users/..."

# Google project id
GOOGLE_PROJECT_ID=